html {
    margin-top: 40px !important;
}
body {
    border-top: 1px solid transparent;
    margin-top: -1px;
    position: relative;
}
@media only screen and (max-width: 767px) {
    html {
        margin-top: 44px !important;
    }
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}
.flex {
    display: flex;
}
.flex-center {
    display: flex;
    justify-content: center;
}
.padding-tp-20 {
    padding-top: 20px;
}
.margin-bt-20 {
    margin-bottom: 20px;
}
.margin-tp-bt-20 {
    margin: 20px 0;
}
.txt-center {
    text-align: center
}
